body {
  background: #eee;
  font-family: 'Times New Roman', serif, sans-serif;
}

.rock {
  text-align: center;
}

.lock {
  text-align: right;
  margin-right: 20px;
}

.jock {
  text-align: left;
}

.clack {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 250px
}

.knock {
  margin-bottom: -30px;
}